<!doctype html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<meta name="description" content="Votre description ici" />
		<title>Votre Titre Ici</title>
		<!-- Lien vers la feuille de style CSS -->
		<link rel="stylesheet" href="style.css" />
		<!-- Lien vers Google Fonts -->
		<link
			href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body>
		<!-- Theme : Light / Dark -->

		<div class="theme-switch-wrapper">
			<label for="theme-switch" class="theme-switch-label">
				<span>left</span>
				<div class="theme-switch">
					<input
						id="theme-switch"
						class="theme-switch-input"
						type="checkbox"
						role="switch"
						name="theme"
					/>
					<span class="theme-slider"></span>
				</div>
				<span>Right</span>
			</label>
		</div>

		<!-- End Theme -->

		<!-- Scripts JavaScript -->
		<script src="script.js"></script>
	</body>
</html>
